/* our fonts are gnu unifont and jetbrains mono */
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'GNU Unifont';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/unifont-15.1.02.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GNU Unifont';
    text-rendering: optimizeSpeed;
    font-weight: normal;
}

.textareas {
    display: grid;
}

textarea {
    grid-column: 1;
    grid-row: 1;
    background: #2d2d2de0;
    color: #ffffff;
    font-size: 2rem;
    resize: none;
    overflow-wrap: anywhere;
    word-wrap: break-word;
    border: none;
    outline: none;
}

.textarea.previous {
    z-index: 1;
    pointer-events: none;
    user-select: none;
    background: #2d2d2dff;
}

.textarea.main {
    z-index: 2;
}

button {
    background: #2d2d2d;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    width: 100%;
}

button:hover {
    background: #3d3d3d;
}

button:active {
    background: #4d4d4d;
}

button:focus {
    outline: 3px solid #4d4d4d;
}

:root,
html,
body {
    width: 100%;
    height: 100%;
}

:root {
    background: #111111;
    color: #ffffff;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 2.5rem;
    gap: 1.5rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 4.5rem;
}

header img {
    height: 100%;
}

header .project {
    display: flex;
    /* left aligned column, centered vertically */
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 1rem;
    height: 100%;
}

.project .menu-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0.35rem;
}

.project h1 {
    font-size: 1.5rem;
}

.page {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.editor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 0 3rem;
    background: #0a0a0a;
    border-top: 3px solid rgb(32, 32, 32);
    border-bottom: 3px solid rgb(32, 32, 32);
    flex-grow: 1;
    padding-bottom: 7.5rem;
    position: relative;
}

.frame-list,
.settings {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.02);
    padding: 1rem;
    border: 3px solid rgb(32, 32, 32);
}

.settings h1 {
    font-size: 1.3rem;
    margin: 1.2rem 0;
}

.settings h1:first-child {
    margin-top: 0;
}

.frame-list .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.25rem;
    width: 100%;
    padding: 0.25rem;
}

.item .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
}

.item .buttons button {
    padding: 0.35rem 0.6rem;
}

.number {
    background: #2d2d2d;
    color: #ffffff;
    min-width: 2.5rem;
    height: 2rem;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    font-size: 1.5rem;
    user-select: none;
}

.frame-list textarea {
    font-size: 0.7rem;
    user-select: none;
    cursor: pointer;
}

.frame-list textarea:hover {
    background: #2d2d2d;
}

.frame-list .item.active textarea {
    background: #3d3d3d;
}

.frame-list textarea:active {
    background: #4d4d4d;
}

.textarea.preview {
    pointer-events: none;
    background: #2d2d2d;
}

.textarea {
    font-family: monospace;
    background: #2d2d2de0;
    color: #ffffff;
    user-select: none;
    cursor: text;
    grid-column: 1;
    grid-row: 1;
    font-size: 3rem;
    outline: 3px solid #3d3d3dff;
}

.textarea:focus {
    border: none;
    outline: 3px solid #4d4d4dff;
    background: #3d3d3de0;
}

.item.active {
    background: #ffffff0a;
    outline: 3px solid #4d4d4d;
}

.item.active .textarea {
    background: #4d4d4da0;
}

.item .textarea:hover {
    background: #3d3d3da0;
}

.item .textarea {
    cursor: pointer;
    font-size: 0.7rem;
}

.textarea .cursor {
    background: #ffffff;
    color: #000000;
}

/* all scrollbars */
::-webkit-scrollbar {
    background: #2d2d2d;
    width: 0.6rem;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background: #4d4d4d;
}

.textarea .line {
    height: 2ch;
    overflow: visible;
    text-wrap: nowrap;
    white-space: nowrap;
}

.textarea span {
    width: 1ch;
    overflow: hidden;
    display: inline-block;
}

.controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem 0;
    background: #2d2d2d;
    border-top: 3px solid rgb(32, 32, 32);
    border-bottom: 3px solid rgb(32, 32, 32);
}

.icon {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 1.2rem;
    height: 1.2rem;
    /* fit */
    object-fit: contain;
}

.palette,
.library {
    width: 100%;
    overflow-y: scroll;
    outline: 3px solid rgb(32, 32, 32);
    padding: 0.3rem;
    resize: vertical;
}

.palette {
    display: grid;
    gap: 0.3rem;
    height: 10rem;
    /* rows are only as long as they need to be, dont stretch */
    align-content: flex-start;
    grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
}

.palette .char {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    background: #2d2d2d;
    padding: 0.3rem;
    user-select: none;
}

.palette .char:hover {
    background: #ffffff;
    color: #000000;
}

.palette .char:active {
    background: #000000;
    color: #ffffff;
}

.library {
    display: grid;
    gap: 0.3rem;
    /* each element is of completely different width and height, we want to fit as many as possible in 2 columns */
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, 1fr);
    align-content: flex-start;
}

.library .item {
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background: #2d2d2d;
    user-select: none;
}

.library .item:hover {
    background: #ffffff;
    color: #000000;
}

.library .item:active {
    background: #000000;
    color: #ffffff;
}

.toasts {
    position: fixed;
    top: 2rem;
    left: 0;
    right: 0;
    display: flex;
    /* middle, but aligned to top */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    z-index: 100;
}

.toast {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    background: #2d2d2d;
    border: 3px solid rgb(32, 32, 32);
    transition: opacity 0.5s ease;
    opacity: 1;
}

.toast.fade {
    opacity: 0;
}