* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.textareas {
    display: grid;
}

textarea {
    grid-column: 1;
    grid-row: 1;
    background: #2d2d2da0;
    color: #ffffff;
    font-size: 2rem;
    resize: none;
    overflow-wrap: anywhere;
    word-wrap: break-word;
    border: none;
    outline: none;
}

textarea.previous {
    z-index: -1;
    pointer-events: none;
    user-select: none;
    background: #2d2d2dff;
}

:root,
html,
body {
    width: 100%;
    height: 100%;
}

:root {
    background: #111111;
    color: #ffffff;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    padding: 5rem 0;
}

.editor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.frame-list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0.5rem;
    height: 100%;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.02);
}

.frame-list .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.frame-list textarea {
    font-size: 0.7rem;
    user-select: none;
    cursor: pointer;
}

.frame-list textarea:hover {
    background: #2d2d2d;
}

.frame-list .item.active textarea {
    background: #3d3d3d;
}

.frame-list textarea:active {
    background: #4d4d4d;
}

textarea.preview {
    pointer-events: none;
    background: #2d2d2d;
}